  /* Google fonts-Inter and poppins */

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300;400;600;700&display=swap');

              /* --------**CSS styling starts**-------
                        --------------------- */

body{
    font-family: 'Poppins', sans-serif;
    background-image:  linear-gradient(to top right, #e2d1c3 #ffccff 5%, #ffffff 66%);
    background-repeat: no-repeat;
}


h4{
    
    color: #3A3A3A;
    font-weight: 700;
    font-size: 20px;
  
}
h1{
    color: #3A3A3A;
    font-weight: 900;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;

}
.menu{
    padding-left: 65%;
    padding-top: 50px;
    font-family: 'poppins',sans-serif;
    position: sticky;
    top: 0;
}

.menu a{
    text-decoration: none;
    color:#3A3A3A;
    font-size: 16px;
    padding-left: 20px;
    font-weight: 600;
}

.menu a:hover{
    color: gold;
}
section{
    display: flex;
    padding: 5px 30px;
    padding-top: 60px;
    background-color: #FFFAFA;
}
/*------------------ common style for div---------------------
                ------------------------- */
   
.top-heading{
    padding-left: 5.85% ;
    width: 100%;
    margin: 10px;
    transition: transform 3s ease;
}

.top-heading p{
    font-size: 15px;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    color: #3A3A3A;
}
.top-heading a{
    background-color: #E02C6D;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 41px;
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: transform 2s ease;
    
}

/* font awesome arrow style- */

.fa-arrow-right{
    padding-left: 5px;
}


.top-heading img{
    width: 500px;
    height: 500px;
    padding-left: 3%;
    padding-top: 10%;
    transition: transform 3s ease;

}
 
           /* ---------------------
        ----nav logos of ecommerce sites----
        --------------------------- */

hr{
    width: 90%;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
    border: 0.3px solid rgb(243, 191, 234);
}
.logos img{
    padding-left: 50px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    width: 80px;
    transition: transform 1s ease;
}

.logos a img:hover{
      transform:scale(0.85);
      
}

/*           ----------------------
             ----products style----
           ----------------------            */

   /* ----Heading style---- */

.pro-head{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#3A3A3A;
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;

}

.grid-items .card {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 30px;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.card{
    margin-left: 20%;
    
}

.products-detail{    
    background-color:hsl(333, 100%, 96%);
    border-radius: 20px;
    transition: transform 3s ease;
}
.products-detail .products img{
    Width:300px;
    Height:256px;
    margin: 17px 14px 15px;
   border-radius: 5px;

}
.products-info {
    margin-left: 14px;
    margin-bottom: 17px;

}
.product-title{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
}




.currencies{
    font-size: 24px;
}

.small{
   font-size: 10px;
   font-family: 'Inter', sans-serif;
   color: #787885;;
}
/* font awesome starts */
.fa-star{
    font-size: 2px;  
}

.fa-star.filled{
    color: orange;
}
.fa-star.empty{
    color: #aeaeae ;
}

.fa-star.filled-half{
    background-image: linear-gradient(to bottom left, orange #aeaeae);
}
  /* --------- */

.rates{
    padding-left: 10px;
    color:#5E6366;
    font-size: 14px;
    font-weight: 700;
;
}
.content-ends{
    padding-left: 80%;
    padding-top: 20px;
}
.content-ends h5{
    color:  #E02C6D ;
    font-size: 14px;
    font-weight: 700;

}
.content-ends a{
    text-decoration: none;
}
       
              /* ---Section 2 Ends----
             ---------------------------- */


              /* -------Section 3 Starts--------
                      ------------------- */
.last-image{
    color:#0A0826;
    font-size: 32px;
    font-weight: 700;
    padding-left: 98px;
}
.last-image p{
    font-size: 16px;
    font-family: 'poppins',sans-serif;
}

.last-image a{
    background-color: #E02C6D;
    text-decoration: none;
    color: antiquewhite;
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 16px;
    transition: transform 3s linear;
}
      
              /* ----Ends Section 3----
             -------------------------- */

   /* ---Next Page style--- */

.next-content h5{
    font-size: 14px;
    font-weight: 700;
    color: #FFFAFA;
    background-color:#E02C6D ;
    width: 10%;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 10px;
    margin-left: 15px;

}
.next-content a{
    text-decoration: none;

   
}
.fa-arrow-left{
    padding-right: 10px;
}

  /* ----Ends Next page style---- */

     /*------------------------------------
           -----Footer Of Website------
        -------------------------------- */
.end{
    background-color: #d06087;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
}
.close h3{
   font-size: 24px;
   font-weight: 700;
   color:#FFFFFF;

}
.close h6{
    color: #e8d5dc;
}
.purple{
    color:#a8bdea;
}

       /* ---font awesome app icon--- */
.fa-instagram{
    padding-left: 5px;
    font-size: 20px;
    color: #ffff;
}
.fa-facebook{
    padding-left:5px;
    font-size: 20px;
    color: #ffff;
}
.fa-discord{
    padding-left: 5px;
    font-size: 20px;
    color: #ffff;
}
.fa-atom{
    padding-left: 5px;
    font-size: 20px;
    color: #ffffff;
}

.fa-instagram:hover{
    color: #ffa600;
}
.fa-facebook:hover{
    color: #ffa600;
}
.fa-discord:hover{
    color: #ffa600;
}
.fa-atom:hover{
    color:#ffa600;
}

      /* ---------- */

      /* ---Hover And Animation--- */
.products-detail:hover{
    transform: scale(1.2);   
    cursor: pointer;
}

.top-heading a:hover{
    background-color: #0A0826;
}

.last-image a:hover{
    background-color: #0A0826;
}
.top-heading:hover{
    transform: translatex(100px);
}
.top-heading img:hover{
    transform: translate(100px);
}


  /* -----end---- */

  /* ----Break-points---- */
@media (max-width:688px) {
    section{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .top-heading:hover{
        transform: none;
    }
    .top-heading img:hover{
        transform: none;
    }
    .top-heading{
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .top-heading img{
        width: 100%;
        height: 80%;
    }
    .top-heading h1{
        font-size: 30px;
        text-align: center;
    }
    .top-heading h4{
        text-align: center;
    }
    .top-heading p{
        text-align: center;
    }
    /* .menu{
        display: none;
    } */
    hr{
        display: none;
    }
    .logos{
        display:flex;
    }
    .grid-items{
        width: 100%;
        height: 20%;
        justify-content: center;
        align-items: center;
    }
    .grid-items .card{
        grid-template-columns: repeat(1 , 1fr);
        padding-right: 30%;
        justify-content: center;
        align-items: center;
    

    }
    
    .products-detail .products img{
        padding-right: 50%;
        width: 90%;
        height: 90%;
        
    }
    .products-detail{
        width: 100%;
        justify-content: center;
        align-items: center;

    }
    .last-image{
        padding-right: 70%;
    }
    .last-image img{
          padding-right: 100%;
          
    }
    .last-image h3{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .last-image p{
        padding-right: 50%;
    }
    footer{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
}  
